.canvas {
    height: 100vh;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__toolbar {
        z-index: 2;
        position: fixed;
        left: 0;

        width: 100%;

        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 20px 40px;

        padding: 50px;
        background-color: #eeeeee7e;

        backdrop-filter: blur(5px);

        @media (max-width: 768px) {
            flex-wrap: nowrap;
            flex-direction: column;

            padding: 20px;
        }
    }

    .mobile-hidden {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &__content {
        user-select: none;
        cursor: pointer;
        position: relative;
        transition: all 0.2s ease, transform 1ms;

        margin-top: 350px;
    }
}